build_web/
.sconsign.dblite
calc/calc.exp
client/file_include.pyc
statki/fasada.exp
statki/src/statkiConsole/Debug/statkiConsole.tlog/CL.read.1.tlog
statki/src/statkiConsole/Debug/statkiConsole.tlog/CL.write.1.tlog
statki/src/statkiConsole/Debug/statkiConsole.tlog/cl.command.1.tlog
statki/src/statkiConsole/Debug/statkiConsole.tlog/link-cvtres.read.1.tlog
statki/src/statkiConsole/Debug/statkiConsole.tlog/link-cvtres.write.1.tlog
statki/src/statkiConsole/Debug/statkiConsole.tlog/link-rc.read.1.tlog
statki/src/statkiConsole/Debug/statkiConsole.tlog/link-rc.write.1.tlog
statki/src/statkiConsole/Debug/statkiConsole.tlog/link.command.1.tlog
statki/src/statkiConsole/Debug/statkiConsole.tlog/link.read.1.tlog
statki/src/statkiConsole/Debug/statkiConsole.tlog/link.write.1.tlog
statki/src/statkiConsole/Debug/statkiConsole.tlog/statkiConsole.lastbuildstate
statki/src/statkiConsole/Debug/statkiConsole.tlog/unsuccessfulbuild
statki/src/statkiConsole/Debug/vc120.idb
statki/src/statkiConsole/statkiConsole.opensdf
statki/src/statkiConsole/statkiConsole.sdf
statki/src/statkiConsole/statkiConsole.sln
statki/src/statkiConsole/statkiConsole.vcxproj
statki/src/statkiConsole/statkiConsole.vcxproj.filters
