/**
 * \file styles.css
 * \brief application styles
 */

.hidden {
    display: none;
}

.main_wrap {
	text-align: center;
    border: 2px;
    border-color: black;
    background-color: white;
	margin-left: auto;
    margin-right: auto;
    width: 70%;
    width: 960px;
    min-height: 600px;
    height: 800px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    line-height: 22px;
}

.logoTable {
	margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: end;
    vertical-align: bottom;
    width: 960px;
    height: 80px;
    color: white;
}

.enemyTable {
	border-collapse: collapse;
	border: 2px ridge #dddada;
	 margin-left: 100px !important;
    box-shadow: 0px 5px 10px #36a5ef;
	position:absolute;
    text-align:center;  
    align-content:center;
	width:500px; 
	height: 500px; 
}

.enemyTable td{
    border: 2px ridge #dddada;
	width: 45px;
	height: 45px;
	cursor:pointer;
    background: -moz-linear-gradient(top, #ffffff, #D1E3E9);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#D1E3E9));
    text-align:center;
  }

.enemyTable td:hover{
	background: -moz-linear-gradient(top, #249ee4, #057cc0);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#249ee4), to(#057cc0));
  }

.enemyTable td:active{
    background: -moz-linear-gradient(top, #057cc0, #249ee4);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#057cc0), to(#249ee4));
  }

.ownTable {
	border-collapse: collapse;
	border: 2px ridge #dddada;
	margin-left: 670px;
	margin-top: 370px;
    box-shadow: 0px 5px 10px #808080;
	position:absolute;
    text-align:center;  
    align-content:center;
	width:250px; 
	height: 250px;
}  

.ownTable td{
    border: 2px ridge #dddada;
	width: 22px;
	height: 22px;
	cursor:not-allowed;
    background: -moz-linear-gradient(top, #ffffff, #d2fee4);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d2fee4));
    text-align:center;
  }
  
.error {
    font-size: 2em;
    color:red;
}

.playerInfo {
	color = red;
	font-style: italic;
	height: 30px;
	margin-top: 40px;
	margin-left: 0px;
	vertical-align: middle;

} 

.info {
    font-size: 2em;
    color:green;
}

.selectedCell {
	width:150px;
	height:80px;
	margin-left: 80px;
	line-height:80px;
	border:4px ridge #0090dc;
	vertical-align: middle;
	color = red;
}

.pop_up {
	color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3); /* black semi-transparent */
	text-align: center;
	align-content: center;
}
.message {
	margin-top: 200px;
	margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    vertical-align: center;
	width: 350px;
	height: 200px;
	border:4px ridge #0090dc;
	background-color: rgba(0,0,0,0.6) !important; /* black semi-transparent */
}

.startButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.startButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

html {
    height: 100%;
   	background-image: url("/pict/background.jpg"); 
	background-position: absolute;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

body {
	min-height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
	font-size: 100.01%;
}

	
#icons_ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#icons_ul > li {
	float:left;
    padding: 5px;
}

h3 {
	font-size: 2Opx;
    color:black;
	margin-left: 600px;
}
h5 {
	font-size: 20px;
    color:red;
	margin-left: 600px;
}
